<div class="container">
  <h1> Edit your animal!</h1>
  <%= simple_form_for (@animal) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :category %>
    <%= f.input :sex, collection: ["Male", "Female"] %>
    <%= f.input :age %>
    <%= f.input :personality_attributes %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Submit animal", class: "btn btn-flat" %>
  <% end %>
</div>
