<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <h2> Edit your animal!</h2>
        <%= simple_form_for (@animal) do |f| %>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :category %>
          <%= f.input :sex, collection: ["Male", "Female"] %>
          <%= f.input :age %>
          <%= f.input :personality_attributes %>
          <%= f.input :photo, as: :file %>
          <div class="row justify-content-center"><%= f.submit "Submit animal", class: "btn btn-flat" %></div>
      <% end %>
    </div>
  </div>
</div>
