<div class="card-profil">
  <div class="row justify-content-center pt-5">
    <div class="card-image col-12 col-lg-6">
      <div>
        <% if @animal.photo.attached?%>
          <%= cl_image_tag @animal.photo.key, height: 400, width: 600, crop: :thumb, gravity: :face %>
        <% end %>
      </div>
      <div class="row justify-content-center pt-3">
        <% if user_signed_in? %>
          <% if @animal.user != current_user %>
            <%= link_to "Make a booking",  new_animal_booking_path(@animal), class: "btn btn-flat" %>
          <% else %>
            <%= link_to "Edit", edit_animal_path(@animal), class: "btn btn-flat" %>
            <%= link_to "Delete", animal_path(@animal), method: :delete, data: { confirm: "Delete animal?" }, class: "btn btn-flat" %>
          <% end %>
        <% else %>
          <%= link_to "Login to edit or make a booking",  new_user_session_path, class: "btn btn-flat" %>
        <% end %>
      </div>
      <div class="row justify-content-center pt-3">
        <div class="description">
          <p>Hi folks my name's <%= @animal.name.capitalize %>!</p>
          <p>I'm a beautiful <%= @animal.age %> years old <%= @animal.category %></p>
          <p><%= @animal.description %></p>
          <p>My master qualifies me as: <%= @animal.personality_attributes %></p>
          <p>Oh and i'm a <%= @animal.sex %> by the way ;) </p>
        </div>
      </div>
  </div>
</div>
  <div class="owner-info ">
    <div class="profil row justify-content-center">
      <% if @animal.user.photo.attached? %>
        <%= cl_image_tag @animal.user.photo.key, class: "rounded-circle", height: 250, width: 250, crop: :thumb, gravity: :face%>
      <% end %>
    </div>
    <div class="description">
      <p>Hi i'm <%= @animal.user.first_name.capitalize %> <%= @animal.user.last_name.capitalize %></p>
      <p>My contact details:</p>
      <p>Phone number: <%= @animal.user.phone_number %></p>
      <p>E-mail: <%= @animal.user.email %></p>
      <p>Pick-up location: <%= @animal.user.address %></p>
      <p>Feel free to contact me</p>
    </div>
  </div>
</div>
