<div class="card-profil">
  <div class="row justify-content-center pt-5">
    <div>
      <div>
        <% if @animal.photo.attached?%>
          <%= cl_image_tag @animal.photo.key, height: 400, width: 600, crop: :fill %>
        <% end %>
      </div>
      <div class="row justify-content-center pt-3">
        <div class="description animal-description">
          <p>Hi folks my name's <%= @animal.name.capitalize %>!</p>
          <p>I'm a beautiful <%= @animal.age %> years old <%= @animal.category.downcase %> <span class= "emoji">😊</span></p>
          <p>Things you should know about me: <%= @animal.description.capitalize %></p>
          <p>My master qualifies me as: <%= @animal.personality_attributes.downcase %></p>
          <p>Oh and i'm a <%= @animal.sex.downcase %> by the way <span class= "emoji">😉 </span></p>
        </div>
      </div>
      <div class="row justify-content-center pt-3 buttons-show">
        <% if user_signed_in? %>
          <% if @animal.user != current_user %>
            <%= link_to "Make a booking",  new_animal_booking_path(@animal), class: "btn btn-flat" %>
          <% else %>
            <div>
              <p><em>If you need do execute some modifications click below</em></p>
            <div class="center">
              <%= link_to "Edit", edit_animal_path(@animal), class: "btn btn-flat" %>
              <%= link_to "Delete", animal_path(@animal), method: :delete, data: { confirm: "Delete animal?" }, class: "btn btn-flat" %>
            </div>
            </div>
          <% end %>
        <% else %>
          <%= link_to "Login to edit or make a booking",  new_user_session_path, class: "btn btn-flat" %>
        <% end %>
      </div>
  </div>
</div>
  <div class="owner-info ">
    <div class="profil row justify-content-center">
      <h2><%= @animal.name %>'s Owner</h2>
      <% if @animal.user.photo.attached? %>
        <%= cl_image_tag @animal.user.photo.key, class: "rounded-circle", height: 250, width: 250, crop: :thumb, gravity: :face%>
      <% end %>
    </div>
    <div class="description">
      <p>Hi there, I'm <%= @animal.user.first_name.capitalize %> <%= @animal.user.last_name.capitalize %> <span class="emoji">👋</p>
      <p> <span class="emoji">☎️</span>: <%= @animal.user.phone_number %></p>
      <p>E-mail: <%= @animal.user.email %></p>
      <p>Pick-up location: <%= @animal.user.address %></p>
      <p>Feel free to contact me <span class="emoji">😄</span></p>
    </div>
  </div>
</div>
<div id="reviews">
  <% if @animal.reviews.present? %>
    <h2>How past experiences with <%= @animal.name %> have gone...</h2>
    <ol>
      <a class="btn btn-flat" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Show reviews
      </a>
      <div class="collapse" id="collapseExample" >
        <% @animal.reviews.each do |review| %>
          <li class="list-group-item mt-3 mb-3" id="review-<%= review.id %>">
          <div class="review d-flex align-items-center">
            <div>
              <% if review.user.photo.attached? %>
                <%= cl_image_tag review.user.photo.key, class: "avatar mr-3", crop: :thumb, gravity: :face%>
              <% end %>
            </div>
            <div>
              <% fas_counter = review.rating %>
              <% far_counter = 5 - review.rating %>
              <% fas_counter.times do |star| %>
                <i class="fas fa-star"></i>
              <% end %>
              <% far_counter.times do |star| %>
                <i class="far fa-star"></i>
              <% end %>
              <br>
              <%= review.content.capitalize %>
              <br>
              By: <%= review.user.first_name.capitalize %> <%= review.user.last_name.capitalize %>
            <% end %>
          </div>
        </div>
      </li>
    </ol>
      <% if user_signed_in? %>
        <h2>⭐Tell us how your experience went!</h2>
        <%= simple_form_for([ @animal, @review ], remote: true) do |f| %>
          <%= f.input :rating, collection: [1, 2, 3, 4, 5], input_html: { class: 'select2' } %>
          <%= f.input :content %>
          <%= f.submit "Submit review", class: "btn btn-flat" %>
        <% end %>
      <% else %>
        <%= link_to "Login to leave a review",  new_user_session_path, class: "btn btn-flat" %>
      <% end %>

<% else %>
  <% if user_signed_in? %>
    <h2>⭐Be the first to leave a review for <%= @animal.name %>!</h2>
    <%= simple_form_for([ @animal, @review ], remote: true) do |f| %>
      <%= f.input :rating, collection: [1, 2, 3, 4, 5], input_html: { class: 'select2' } %>
      <%= f.input :content %>
      <%= f.submit "Submit review", class: "btn btn-flat" %>
    <% end %>
  <% else %>
    <h2>Be the first to leave a review for <%= @animal.name %>!</h2>
    <%= link_to "Login to leave a review",  new_user_session_path, class: "btn btn-flat" %>
  <% end %>
  <% end %>
</div>
